:root {
    --primary: #6244c5;
    --secondary: #ffc448;
    --light: #fafafb;
    --dark: #12141d;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
  }
  
  .my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  /*** Team ***/
  .team-item img {
    transition: 0.5s;
  }
  
  .team-item:hover img {
    opacity: 0.7;
  }
  
  .team-item .team-text {
    position: absolute;
    left: 0;
    right: 60px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s;
  }
  
  .team-item:hover .team-text {
    right: 30px;
    opacity: 1;
  }
  
  .team-item .team-text div {
    transition: 0.5s;
  }
  
  .team-item:hover .team-text div {
    margin-left: 30px;
  }